certifi==2024.7.4
chardet==3.0.4
Django==4.2.26
idna==3.7
newsapi-python==0.2.3
predicthq==0.0.17
python-dateutil==2.7.5
pytz==2018.7
requests==2.32.4
schematics==2.0.0.dev2
six==1.11.0
urllib3==2.5.0
