{%extends "landing/base_template.html" %}
{% block styles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <style type="text/css">
    label, p, div{
      color:black;
    }
  </style> -->
{% endblock %}
{%block content%}

  <form style="width:100%" action="{% url 'logging_in' %}" method="POST" class="form-group col-sm-4" >
     <div class="container-fluid" style="margin-left:20%;margin-right: 20%;width:40%;margin-top: 30px ">
    <label for="email" style="color: black;">Email:</label>
    <input  type="text" name="username" id="username" class="form-control">
    <label for="password" style="color: black;">Password:</label>
    <input  type="password" name="password" class="form-control">
    <input type="submit" name="submit" class="form-control btn btn-success">
  </div>
  </form>

{% endblock %}
