{%extends "landing/base_template.html" %}
{% block styles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
    label, p, div{
      color:black;
    }
  </style>
{% endblock %}
{% block content %}
  <form class="post-form" action= "{% url 'signup_submit'%}" method="POST">
 <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <!-- <i class="user icon"></i> -->
            <input type="text" name="username" placeholder="Username">
          </div>
<!--           <div class="ui left icon input">
            
            <input type="text" name="email" placeholder="E-mail address">
          </div> -->
        </div>
        <div class="field">
          <div class="ui left icon input">
            
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <!-- <i class="lock icon"></i> -->
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button">Sign Up</button>
      </div>

      <div class="ui error message"></div>
<!--     {{form.as_p}}
    <input type="submit" name="submit"> -->
  </form>
{% endblock %}